.nav-primary {
	padding-top: 5px;
	font-family: $headings-font-family;
	font-size: $font-size-h5;
		background: $white;

	li {
		margin-right: $spacer;

		&.active a,
		a:hover {
			background: $cream;
		}
	}

	a {
		color: $black;
		padding: 5px;
	}
}

@include media("<md") {

	.nav-toggle {
		position: fixed;
		z-index: 3;
		top: 20px;
		right: $spacer;

		.nav-burger {
			@include burger($height: 3px, $gutter: 6px)
		}

		&.active {

			.nav-burger {
				@include burger-to-cross;
			}
		}
	}

	.banner .nav-primary {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 100%;
		
		background: $cream;

		padding: $spacer*10 $spacer $spacer $spacer*1.5;
		

		.nav {
			display: block;
		}

		li {
			width: 100%;
			display: block;
			padding-bottom: $spacer * 1.5;

			font-size: $font-size-h1;
			text-align: center;
		}

		&.active {
			display: block;
		}
	}

}