.nav-primary {
	padding-top: 5px;
	font-family: $headings-font-family;
	font-size: $font-size-h5;

	li {
		margin-right: $spacer;

		&.active a,
		a:hover {
			background: $cream;
		}
	}

	a {
		color: $black;
		padding: 5px;
	}
}