// Project Colors
//
// Colors specific to this project

$brand-light: 		#C0E5DB !default;
$brand-lighter: 	#CDE9E2 !default;

$cream: 			#FFFFE7 !default;


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$black:				#3C3C3C;
$white:				#fff;

$gray-dark:         #3C3C3C !default;
$gray:				#55595c !default;
$gray-light:		#818a91 !default;
$gray-lighter:		#eceeef !default;
$gray-lightest:		#f7f7f9 !default;

$brand-primary:		#A2D8C9 !default;
$brand-success:		#5cb85c !default;
$brand-info:		#5bc0de !default;
$brand-warning:		#f0ad4e !default;
$brand-danger:		#d9534f !default;
$brand-inverse:		$gray-dark !default;



// Body
//
// Settings for the `<body>` element.

$body-bg:    		$white !default;
$body-color: 		$black !default;


// Links
//
// Style anchor elements.

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
