input,
textarea {
	@include input-placeholder {
		font-family: $font-family-serif;
		font-size: $font-size-base;
		color: $black;
		letter-spacing: 0.1em;
	}	
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	border: 1px solid $white;
	margin-bottom: $spacer/2;
	font-family: $font-family-serif;
	font-size: $font-size-base;
	color: $black;
	padding: 5px 10px 3px;
	letter-spacing: 0.1em;
}

input[type="submit"] {
	@extend .btn;
	@extend .btn-primary;
	text-transform: uppercase;
	font-family: $font-family-serif;
	letter-spacing: 0.1em;
	line-height: 1.25;
	padding: .5rem 1rem .25rem;

	&:hover {
		cursor: pointer;
	}
}